#footer
    .container
        .cover
            .link
                dl
                    dt #[a(href="#") 关于我们]
                    dd #[a(href="#") 集团介绍]
                    dd #[a(href="#") 联系方式]
                    dd #[a(href="#") 资讯动态]
                    dd #[a(href="#") 人才招聘]
                dl
                    dt #[a(href="#") 用户须知]
                    dd #[a(href="#") 法律声明]
                    dd #[a(href="#") 服务条款]
                    dd #[a(href="#") 隐私声明]
                dl.phone
                    dt 客服热线
                    dd 021-86802380
            .code
                .erweibox
                    img(src=imgUrl+"code.jpg", alt="")
                    p 官方微信公众号
                .erweibox.marginleft20
                    img(src=imgUrl+"code.jpg", alt="")
                    p 官方微信小程序
        p.tips 
            a(href="#") 网站备案/许可证号：沪ICP备18024039号-1 沪公网安备
            | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            a(class="beian" href="#") ICP备案