@import './_config.scss';
#brand{
    .container{
        padding-top: 70px;
    }
    .sidebar{
        width: 25.83333%;
        float: left;
    }
    dl{
        width: 80%;
        float: left;
        border:1px solid #eee;
        border-radius: 6px;
        border-bottom: none;
        overflow: hidden;
        a{
            display: block;
        }
    }
    dt{
        font-size: 26px;
    }
    dt,dd a{
        padding-left: 12%;
        height: 80px;
        line-height: 80px;
        border-bottom: #eee 1px solid;
    }
    dd{
        position: relative;
        &:hover,&.active{
            a{
                color:#ff9000;
            }
            &:after{
                content: '';
                height: 30px;width: 0;
                border-right: 4px solid #ff9000;
                position: absolute;
                left: 0;top: 26px;
            }
        }
    }
    .content{
        float: left;
        width: 74%;
        padding-bottom: 50px;
        h1{
            padding-left: 20px;
            border-left: 4px solid #ff9000;
            font-size: 18px;
            margin: 30px 0;
            clear: both;
        }
        h2{
            font-size: 18px;
            padding-top: 3.5%;
        }
        p,.des{
            font-size: 16px;
            line-height: 26px;
            color: #666;
            margin: 20px 0;
            overflow: hidden;
        }
        .des{
            height: 100px;
            &:after{
                top: -15px;
                height: 25px;
                width: 41px;
                margin-left: -3em;
                padding-right: 18px;
                background:linear-gradient(to right,rgba(255,255,255,0),white 40%,white);
            }
            &:before{
                height: 100px;
            }
        }
        li{
            width: 100%;
            padding:4.054% 0;
            overflow: hidden;
            border-top: 1px solid #eee;
        }
        img{
            float: left;
            width: 18.945%;
            margin-right: 4.054%;
        }
        .list{
            float: left;
            width: 77%;
        }
    }
    .imgbox{
        overflow: hidden;
        li{
            width: 49.7%;
            margin: 0 0.6% 0.6% 0;
            padding: 0;
            border:none;
            float: left;
            img{
                width: 100%;
            }
        }
    }
}
@media (max-width: 992px) {
    #brand{
        .content{
            img{
                margin-top: 20px;
            }
            .des:after{
                top: -24px;
            }
        }
    }
}
/* 超小屏幕（手机，小于 768px） */
@media screen and (max-width: 768px){
    #brand{
        .content{
            img{
                margin-top: 35px;
            }
        }
    }
}