@import './_config.scss';
#friend{
    .container{
        margin-top: 85px;
    }
    .middle{
        margin: 25px 0;
    }
    ul{
        width: 6.333%;
        background-color: #ffd9a8;
        float: left;
        li{
            float: none;
            height: 130px;
            padding: 55px 30%;
            font-size: 26px;
            color: #fff;
            background-color: #b57a2e;
            text-align: center;
            &.active,&:hover{
                background-color: #ff9000;
            }
        }
    }
    .content{
        float: left;
        width: 93.6%;
        padding-bottom: 80px;
        &>div{
            height: 530px;
            padding: 10.9% 8.3%;
            background-repeat: no-repeat;
            background-position: center center;
            display: none;
        }
        .first{
            background-image: url($imgUrl+'bg_friend1.jpg');
        }
        .second{
            background-image: url($imgUrl+'bg_friend2.jpg');
        }
        .last{
            background-image: url($imgUrl+'bg_friend3.jpg');
        }
        h1{
            border-bottom: 2px solid #fff;
            color: #fff;
            font-size: 26px;
            padding-bottom: 18px;
        }
        .tips{
            margin: 20px 0 50px 0;
            color: #fff;
        }
        .code{
            width: 31%;
            float: left;
            overflow: hidden;
        }
        p{
            color: #fff;
        }
        .title{
            padding-top: 20px;
        }
        .des{
            margin-top: 10px;
            margin-bottom: 13px;
        }
        .number{
            clear: both;
            color: #fff;
            padding-top: 20%;
        }
    }
}
/* 超小屏幕（手机，小于 768px） */
@media screen and (max-width: 768px){

}