@import './_config.scss';
.container{
    background-color: #fff;
}
h1{
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    padding-top: 80px;
}

#features {
    a{
        display: block;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        &:hover{
            .text{
                background: none;
            }
        }
    }

    .text{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
        background-color: rgba($color: #000, $alpha: 0.5);
        h6{
            font-size: 30px;
            margin-top: 20%;
            margin-bottom: 14px;
            font-weight: normal;
        }
        p{
            font-size: 16px;
        }
    }

    .features_left{
        width:58.3%;
        float: left;
        margin-right: 1.25%;
        position: relative;
        .row_2{
            width: 49%;
            float: left;
            margin:2% 0;
            h6{
                margin-top: 30%;
            }
        }
        .first{
            margin-right: 2%;
        }
    }
    
    .features_right{
        float: right;
        width:40.45%;
        h6{
            margin-top: 24%;
        }
        .last{
            margin-top: 2.8%;
        }
    }

    img{
        width: 100%;
    }
}

#newlist{
    background-color: #f8f8fa;
    .container{
        background-color: #f8f8fa;
    }

    .more{
        float: right;
        margin: 25px 30px 40px 0;
        color: #f5a623;
        img{
            margin:8px 0 0 20px;
        }
    }
}

.list {
    li{
        padding: 15px 30px;
        overflow: hidden;
    }

    a{
        width: 100%;
        display: block;
        overflow: hidden;
        &:hover{
            color: #f5a623;
        }
    }

    .visibility{
        visibility: hidden;
        margin-right: -1em;
    }

    &_title,&_date{
        overflow:hidden;
        white-space:nowrap;
    }

    &_title{
        float: left;
        width: 70%;
        text-overflow:ellipsis;
    }
    
    &_date{
        float: left;
        text-align: right;
        width: 30%;
    }
}

#friendlink{
    margin-bottom: 80px;
    table{
        width: 95%;
        border-collapse:collapse;
        table-layout: fixed;
        background: url($imgUrl+'index/table_bg.jpg') no-repeat center center/100% 100%;
        padding:0 2.5%;
        td{
            text-align: center;
            vertical-align: middle;
            padding: 5% 0;
        }
        img{
            width: 40%;
        }
        img:hover{
            transform:scale(1.2,1.2);
            transition-duration: 2s;
        }
        .side{
            width: 23.684%;
            img{
                width: 44.44%;
            }
        }
    }
}
@media (max-width: 1200px) {
    #features{
        margin-left: 10px;
        margin-right: 10px;
    }
    #features{
        .text{
            h6{
                font-size: 24px;
            }
            p{
                font-size: 14px;
            }
        }
    }
}

/* 超小屏幕（手机，小于 768px） */
@media screen and (max-width: 768px){
    .margintop{
        margin-top: 40px;
    }
    h1{
        font-size: 24px;
        padding-top: 40px;
    }
    #features{
        .text{
            h6{
                font-size: 14px;
                margin-top: 16%;
                margin-bottom: 5px;
            }
            p{
                font-size: 10px;
            }
        }
        .features_left{
            .row_2{
                h6{
                    margin-top: 10%;
                }
            }
        }
    }
}