@import './_config.scss';
$mimgUrl:$imgUrl+'news/';
#information{
    background-color: #f8f8fa;
    ul{
        overflow: hidden;
    }
    .newslist{
        a{
            display: block;
        }
        li{
            width: 49.16%;
            margin: 0 20px 20px 0;
            border-radius: 10px;
            // padding: 3.7% 3.8%;
            background-color: #fff;
            overflow: hidden;
            // box-shadow: 0px 5px 38px 0px rgba(0, 0, 0, 0.1);
            &:hover,.active{
                .title{
                    color: #ff9000;
                }
                .icon{
                    display: inline-block;
                    width: 34px;height: 12px;
                    background: url($mimgUrl+'more.png') no-repeat;
                }
            }
        }
        .text{
            margin-top: 36px;
            margin-bottom: 24px;
            overflow: hidden;
        }
        .time{
            // width: 22.03%;
            padding:8px 6.779% 0 6.779%;
            // padding: 10% 0;
            float: left;
            .day{
                font-size: 36px;
                line-height: 36px;
            }
            .line{
                width: 34%;
                height: 4px;
                margin: 13px 0;
                background-color: #eee;
            }
            .year{
                font-size: 14px;
            }
        }

        .list{
            width: 63.8%;
            padding:0 6.779%;
            float: right;
            border-left: 1px solid #ededed;
            .title,.des{
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
                font-weight: normal;
            }
            .title{
                font-size: 18px;
            }
            .des,.more{
                font-size: 16px;
                line-height: 26px;
                color: #666;
            }
            .des{
                // height: 50px;
                // margin:5.263% 0 11.842% 0;
                // &:after{
                //     top: -33px;
                //     height: 25px;
                // }
                // &:before{
                //     height: 60px;
                // }
            }
            .more{
                position: relative;
                margin:20px 0 3px 0;
            }
            .icon{
                width: 0;
                transition: width 500ms;
            }
        }
    }
}

#information_article{
    h1,.time{
        text-align: center;
    }
    h1{
        font-size: 18px;
        margin-top: 70px;
    }
    .time{
        font-size: 14px; 
        color: #ccc;
        margin:20px 0 50px 0;
    }
    .content{
        padding-bottom: 30px;
        border-bottom: 1px solid #eee;
        p{
            font-size: 16px;
            line-height: 24px;
            color: #666;
            margin: 30px 0;
        }
        img{
            margin-right: 1.25%;
            width: 32.5%;
        }
    }
}

#activity_article{
    .content{
        padding-bottom: 30px;
        border-bottom: 1px solid #eee;
        p{
            font-size: 16px;
            line-height: 24px;
            margin: 30px 0;
        }
    }
    .time{
        font-size: 14px; 
        color: #666;
        padding:70px 0 26px 0;
        border-bottom: 1px solid #eee;
    }
}

#activity_article,#information_article{
    .nav{
        margin: 40px 0;
        a{
            display: block;
            color: #888;
            font-size: 16px;
            margin-top:16px;
            &:hover{
                color: #ff9000;
            }
        }
    }
}

#news,#information{
    .nav {
        overflow: hidden;
        padding: 70px 0;
        li{
            float: left;
            font-size: 26px;
            padding-right: 30px;
            &:hover,&.active{
                a{
                    color: #ff9000;
                }
            }
        }
        a{
            color: #ccc;
        }
        i{
            padding-right: 30px;
            float: left;
            border-left: 2px solid #999;
            width: 0;
            height: 18px;
            margin-top: 10px;
        }
    }
}

#news{
    .content{
        width: 100%;
        td{
            border-top: 1px solid #eee;
        }
        .thumb{
            padding: 2.5% 0;
            width: 22.9%;
            img{
                width: 100%;
            }
        }
        a{
            display: block;
            overflow: hidden;
        }
        .list{
            padding-left: 2.91%;
            h2{
                font-size: 18px;
                font-weight: normal;
            }
            .time{
                margin: 2.55% 0;
                font-size: 14px;
                color: #ccc;
            }
            .des{
                font-size: 16px;
                color: #666;
            }
        }
    }
}

@media (max-width: 992px) {
    #information{
        .nav{
            margin: 30px 0;
            text-align: center;
            li{
                width: 100px;height: 40px;
                border-radius: 8px;
                margin-right: 25px;
                font-size: 20px;
                line-height: 40px;
                display: inline-block;
                float: none;
            }
        }
    }
}

/* 超小屏幕（手机，小于 768px） */
@media screen and (max-width: 768px){
    #information{
        .nav{
            margin: 30px 0;
            text-align: center;
            li{
                width: 80px;height: 40px;
                border-radius: 8px;
                margin-right: 25px;
                font-size: 16px;
                line-height: 40px;
                display: inline-block;
                float: none;
            }
        }
        .newslist{
            li{
                width: 90%;
                margin: 2.5%;
                padding: 2.5%;
                box-shadow: 0px 5px 38px 0px rgba(0, 0, 0, 0.1);
            }
            .list{
                margin: 5% 0;
                .des{
                    margin: 5% 0;
                }
            }
        }
        .page_box{
            padding-top: 30px;
            padding-bottom: 60px;
        }
    }
    #news{
        .nav{
            padding: 40px 0;
            text-align: center;
            li{
                float: none;
                display: inline-block;
                font-size: 20px;
                &:last-child{
                    padding: 0;
                }
            }
        }
        .content .thumb {
            padding: 40px 0;
        }
    }
}