@import './_config.scss';
$mimgUrl:$imgUrl+'news/';
#information{
    background-color: #f8f8fa;
    ul{
        overflow: hidden;
    }
    .nav{
        margin: 70px 0 65px 0;
        li{
            width: 160px;height: 50px;
            background-color:#fff;
            border-radius: 25px;
            margin-right: 50px;
            text-align: center;
            font-size: 26px;
            line-height: 50px;
            &:hover,&.active{
                background-color: #ff9000;
                a{
                    color: #fff;
                }
            }
        }
    }
    .newslist{
        li{
            width: 41.15%;
            margin: 0 2.5% 2% 0;
            padding: 3.7% 3.8%;
            background-color: #fff;
            box-shadow: 0px 5px 38px 0px rgba(0, 0, 0, 0.1);
            &:hover,.active{
                .title{
                    color: #ff9000;
                }
                .icon{
                    display: inline-block;
                    width: 34px;height: 12px;
                    background: url($mimgUrl+'more.png') no-repeat;
                }
            }
        }

        .time{
            width: 18%;
            padding: 10% 0;
            float: left;
            .day{
                font-size: 36px;
                line-height: 36px;
            }
            .line{
                width: 34%;
                height: 4px;
                margin: 13px 0;
                background-color: #eee;
            }
            .year{
                font-size: 14px;
            }
        }

        .list{
            width: 76%;
            float: right;
            .title{
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
            }
            .des,.more{
                font-size: 16px;
                line-height: 26px;
                color: #666;
            }
            .des{
                height: 50px;
                margin:5.263% 0 11.842% 0;
                &:after{
                    top: -33px;
                    height: 25px;
                }
                &:before{
                    height: 60px;
                }
            }
            .more{
                position: relative;
            }
            .icon{
                width: 0;
                margin-right: 10px;
                transition: width 500ms;
            }
        }
    }
}

#information_article{
    h1,.time{
        text-align: center;
    }
    h1{
        font-size: 18px;
        margin-top: 70px;
    }
    .time{
        font-size: 14px; 
        color: #ccc;
        margin:20px 0 50px 0;
    }
    .content{
        padding-bottom: 30px;
        border-bottom: 1px solid #eee;
        p{
            font-size: 16px;
            line-height: 24px;
            color: #666;
            margin: 30px 0;
        }
        img{
            margin-right: 1.25%;
            width: 32.5%;
        }
    }
}

#activity_article{
    .content{
        padding-bottom: 30px;
        border-bottom: 1px solid #eee;
        p{
            font-size: 16px;
            line-height: 24px;
            margin: 30px 0;
        }
    }
    .time{
        font-size: 14px; 
        color: #666;
        padding:70px 0 26px 0;
        border-bottom: 1px solid #eee;
    }
}

#activity_article,#information_article{
    .nav{
        margin: 40px 0;
        a{
            display: block;
            color: #888;
            font-size: 16px;
            margin-top:16px;
            &:hover{
                color: #ff9000;
            }
        }
    }
}

#news{
    .nav {
        overflow: hidden;
        padding: 70px 0;
        border-bottom: #eee solid 1px;
        li{
            float: left;
            font-size: 26px;
            padding-right: 30px;
            &:hover,&.active{
                a{
                    color: #ff9000;
                }
            }
        }
        a{
            color: #ccc;
        }
        i{
            padding-right: 30px;
            float: left;
            border-left: 2px solid #999;
            width: 0;
            height: 18px;
            margin-top: 10px;
        }
    }
    .content{
        li{
            width: 100%;
            padding:30px 0;
            border-bottom: #eee 1px solid;
        }
        a{
            display: block;
            overflow: hidden;
        }
        img{
            float: left;
            width: 22.916%;
            margin-right: 2.916%;
        }
        .list{
            float: left;
            width: 74%;
            h2{
                margin-top: 3.378%;
                font-size: 18px;
                font-weight: normal;
            }
            .time{
                margin: 2.55% 0;
                font-size: 14px;
                color: #ccc;
            }
            .des{
                font-size: 16px;
                color: #666;
            }
        }
    }
}
/* 超小屏幕（手机，小于 768px） */
@media screen and (max-width: 768px){
    #information{
        .page_box{
            padding-top: 30px;
            padding-bottom: 60px;
        }
    }
    #news{
        .content{
            img{
                width: 40%;
            }
            .list{
                width: 57%
            }
        }
    }
}