@import './_config.scss';
$mimgUrl:$imgUrl+'service/';
#service{
    .container{
        margin-top: 70px;
    }
    .sidebar{
        width: 26.084%;
        float: left;
    }
    dl{
        width: 77.77%;
        float: left;
    }
    dt{
        font-size: 26px;
        padding-bottom: 18px;
    }
    dd{
        position: relative;
        padding: 5% 0;
        border-image:linear-gradient(to right,rgba(255,255,255,0),#eee 20%,#eee 80%,rgba(255,255,255,0)) 2 1 stretch;
        border-top: 2px solid #eee;
        &.last{
            border-bottom: 2px solid #eee;
            border-image:linear-gradient(to right,rgba(255,255,255,0),#eee 20%,#eee 80%,rgba(255,255,255,0)) 2 1 stretch;
        }
        a{
            display: block;
            height: 50px;
            border-radius: 5px;
            text-align: center;
            line-height: 50px;
            @for $i from 1 through 7 {
                &.icon#{$i}:before {
                    display: inline-block;
                    margin: 6px 20px 0 0;
                    vertical-align: middle;
                    content: url($mimgUrl+'icon#{$i}.png');
                }
            }
        }

        &:hover,&.active{
            a{
                color:#fff;
                background-color: #ff9000;
                @for $i from 1 through 7 {
                    &.icon#{$i}:before {
                        content: url($mimgUrl+'icon#{$i}_on.png');
                    }
                }
            }
            border-image:linear-gradient(to right,rgba(255,255,255,0),#ffd9a9 20%,#ffd9a9 80%,rgba(255,255,255,0)) 2 1 stretch;
            border-bottom: 2px solid #ffd9a9;
            position: relative;
            z-index: 1;
            margin-bottom: -2px;
        }
    }

    .content{
        float: left;
        width: 73.916%;
        padding-bottom: 100px;
        h1{
            font-size: 26px;
            margin-bottom: 20px;
            color: #221815;
        }
        p{
            font-size: 16px;
            line-height: 26px;
            margin: 20px 0;
        }
        .imgbox{
            img{
                margin-right: 3.4%;
                width: 48.3%;
            }
        }
    }
}
@media (max-width: 992px) {
    #service{
        dt{
            font-size: 24px;
        }
    }
}
/* 超小屏幕（手机，小于 768px） */
@media screen and (max-width: 768px){
    #service{
        dt{
            font-size: 18px;
        }
        dd{
            a{
                &:before{
                    content:none!important;
                }
            }
        }
        .content h1{
            font-size: 20px;
        }
    }
}