@import './_config.scss';
$mimgUrl:$imgUrl+'service/';
body{
    background-color: #f8f8fa;
}
#service{
    .navbar{
        background-color: #fff;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
    }
    .nav{
        width:56%;height: 90px;
        margin: 0 auto;
        overflow: hidden;
        .center{
            margin: 0 100px;
        }
        li{
            font-size: 26px;
            text-align: center;
            line-height: 90px;
            cursor: pointer;
        }
        .active{
            background: no-repeat bottom center;
            background-image: linear-gradient(to right, #ff9000 , #ff9000);
            background-size: 50px 4px;
        }
    }
    .content{
        margin: 114px auto;
        padding: 60px 0 70px 0;
        max-width: 1125px;
        background-color: #fff;
        text-align: center;
        p{
            font-size: 16px;
            font-weight: bold;
            line-height: 28px;
        }
        .pic{
            margin-top: 45px;
        }
    }
    .margintop{
        margin-top: 150px;
    }
    .item{
        position: relative;
        margin-bottom: 8.9166%;
        &:after{
            content:'';
            clear:both;
            display:block;
            width: 0;
            height: 0;
        }
        img{
            width: 37.5%;
            z-index: 1;
            margin-top: -3.75%;
        }
        .panel{
            width: 62.5%;
            border: solid 2px #e4e4e4;
            padding: 4.1666% 10% 5.416% 11%;
        }
        .title{
            margin: 20px 0;
            font-size: 26px;
        }
        .des{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 8%;
            line-height: 30px;
        }
        .line{
            width: 8%;
            height: 2px;
            background-color: #b7b7b7;
        }
        img,.panel{
            position: relative;
            float: left;
            box-sizing: border-box;
        }
    }
    .item1{
        img{
            left: 4.166%;
        }
        .panel{
            right: 4.166%;
        }
    }
    .item2{
        img{
            right: 4.166%;
        }
        .panel{
            left: 4.166%;
        }
    }
}
@media (max-width: 992px) {

}
/* 超小屏幕（手机，小于 768px） */
@media screen and (max-width: 768px){

}