@import './_config.scss';
#course{
    .container{
        margin-top: 96px;
        a{
            display: block;
            position: relative;
            border-radius: 10px;
            margin: 0 2.6% 2.6% 0;
            width: 31.6%;
            float: left;
            &:hover,&.last{
                &:after{
                    content: none;
                }
            }
        }
        a:after{
            content: '';
            position: absolute;
            left: 0;top:0;bottom:0;right:0;
            border-radius: 10px;
            z-index: 1;
            background: #000;
            opacity: 0.5;
        }
        img{
            width: 100%;
        }
    }
}
#course2{
    .container{
        padding-top: 90px;
    }
    .tips{
        font-size: 24px;
        text-align: center;
        line-height: 36px;
    }
    .title{
        margin: 60px 0;
        text-align: center;
        span{
            font-size: 26px;
        }
        img{
            margin: 10px 20px 0 20px;
        }
    }
    .content{
        a{
            display: block;
            position: relative;
            border-radius: 10px;
            margin: 0 2.6% 2.6% 0;
            width: 31.6%;
            float: left;
        }
        img{
            width: 100%;
        }
    }
}

#coursepage{
    .container{
        padding-top: 63px;
    }
    .box{
        margin: 57px 0;
        .title{
            margin-bottom: 30px;
            text-align: center;
            font-size: 26px;
            color: #221815;
            &:before,&:after{
                content: '';
                margin: 0 20px;
                width: 10px;height: 10px;
                border-radius: 50%;
                background-color: #8f8f8f;
                display: inline-block;
                margin-top: 10px;
                vertical-align: text-top;
            }
        }
        .des{
            font-size: 22px;
            text-align: center;
            line-height: 39px;
        }
    }
    table{
        border-collapse:collapse;
        table-layout:fixed;
    }
    tr,td{
        border: none;
    }
    .panel{
        border: solid 2px #dbdde0;
        background-color: #fcfcfa;
        margin: 57px 0;
        overflow: hidden;
        .pic{
            width: 37.5%;
            border-right: 2px solid #dbdde0;
            padding: 0;
        }
        img{
            width: 100%;
            vertical-align: middle;
        }
        .text{
            width: 62.5%;
            .title{
                font-size: 26px;
                width: 72%;
                margin: 0 auto 10px auto;
            }
            .des{
                vertical-align: middle;
            }
            p{
                width: 72%;
                font-size: 16px;
                line-height: 28px;
                margin: 0 auto;
            }
        }
    }

    .bg0{
        background-color: #fff;
    }
    &.music .container{
        padding-bottom: 100px;
    }
    .panel2{
        float: left;
        width: 31.6%;
        margin: 0 2.5% 2.5% 0;
        text-align: center;
        border:2px solid #bababa;
        td{
            margin: 0;
        }
        .title{
            font-size: 26px;
            padding: 27px 0;
            color: #fff;
            background-color: #254b53;
            border-bottom: 2px solid #bababa;
        }
        .des{
            height: 240px;
            font-size: 22px;
            padding: 0 20%;
            background-color: #f7feff;
        }
    }
    &.sport{
        .container{
            padding-top: 55px;
        }
        .tips{
            text-align: center;
            line-height: 40px;
            margin: 60px 0;
        }
        .panel{
            border: solid 2px #dbdde0;
            background-color: #fcfcfa;
            margin: 57px 0;
            overflow: hidden;
            .text{
                background-color: #f1f7ff;
            }
        }
        .slogan{
            padding: 2.58% 10.33%;
            color: #221815;
            font-size: 16px;
            line-height: 36px;
            text-align: center;
            background-color: #f1f7ff;
            margin-bottom: 63px;
            position: relative;
            font-weight: bold;
            &:before,&:after{
                font-size: 60px;
                color: #b9b7b7;
                position: absolute;
            }
            &:before{
                content:'“';
                top: 20%;
                left: 10.33%;
            }
            &::after{
                content:'”';
                bottom: 0%;
                right: 10.33%;
            }
        }
        .ask{
            color: #221815;
            text-align: center;
            font-family: SourceHanSansCN-Light;
            font-size: 26px;
            line-height: 40px;
            .ans{
                font-size: 26px;
                font-weight: bold;
            }
        }
        .panel3{
            width: 100%;
            margin-bottom: 40px;
            p{
                margin: 30px 0;
            }
            .title{
                background-color:#48576f;
                line-height: 80px;
                color: #fff;
                height: 80px;
                text-align: center;
                font-size: 26px;
            }
            .des{
                font-size: 22px;
                line-height: 36px;
                background-color:#f1f7ff;
                height: 240px;
                span{
                    font-weight: bold;
                }
                h2{
                    font-size: 22px;
                    margin-top: 20px;
                }
            }
        }
        .md2{
            margin-right: 3.75%;
            width: 48.125%;
            float: left;
        }

        .padding5{
            padding: 5%;
            font-size: 20px!important;
        }
        .h455{
            height: 455px!important;
        }
        .bot{
            padding: 3% 7%;
            margin-bottom: 60px;
            overflow: hidden;
            background-color: #f1f7ff;
            p{
                float: left;
                width: 42%;
                margin-right: 6%;
                margin-bottom: 10px;
            }
            span{
                font-weight: bold;
            }
        }
    }
    .mg2{
        width: 65.82%;
        .smalltitle{
            text-align: left;
            font-family: MicrosoftYaHei;
            font-size: 26px;
            font-weight: bold;
            line-height: 40px;
            color: #221815;
        }
        .small{
            text-align: left;
            font-family: PingFangSC-Light;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .mytitle{
        margin-bottom: 30px;
        text-align: center;
        font-size: 26px;
        color: #221815;
        &:before,&:after{
            content: '';
            margin: 0 20px;
            width: 10px;height: 10px;
            border-radius: 50%;
            background-color: #8f8f8f;
            display: inline-block;
            margin-top: 10px;
        }
    }
    .mytips{
        width: 285px;
        font-size: 20px;
        padding: 24px 90px;
        background-color: #fffbf7;
        border:1px solid #d9d3c3;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .myp{
        text-align: center;
        font-size: 20px;
        line-height: 36px;
        padding: 0 10%;
    }
    &.art{
        .md2{
            margin-right: 3.666%;
            width: 48.167%;
            border-color: #e1d0c6;
            .title{
                background-color: #806959;
                border-color: #e1d0c6;
            }
            .des{
                padding-left: 5%;
                padding-right: 5%;
                background-color: #fffbf7;
                height: 340px;
            }
        }
    }

    .ss{
        clear: both;
        padding:3% 20%;
        margin-top: 100px;
        background-color: #fffbf7;
        text-align: center;
        line-height: 36px;
        margin-bottom: 100px;
        span{
            color: #6e3814;
            font-weight: bold;
        }
    }
}

#shop{
    .container{
        padding:30% 0 11.25% 0;
        position: relative;
    }
    .box{
        position: absolute;
        z-index: 2;
        top: -60px; left: 0;
        img{
            width: 25.5%;
            float: left;
            cursor: pointer;
            &.last{
                width: 23.5%;
            }
        }
    }
    .map{
        display: block;
        width: 70%;
        margin: 0 auto;
    }
}

/* 超小屏幕（手机，小于 768px） */
@media screen and (max-width: 768px){

}