#footer
    .container
        .cover
            .link
                dl
                    dt 关于我们
                    dd #[a(href="#") 集团介绍]
                    dd #[a(href="#") 联系方式]
                    dd #[a(href="#") 资讯动态]
                dl
                    dt 用户须知
                    dd #[a(href="#") 法律声明]
                    dd #[a(href="#") 服务条款]
                    dd #[a(href="#") 隐私声明]
                dl.phone
                    dt 客服热线
                    dd 021-86802380
            .code
                .erweibox
                    img(src=imgUrl+"code.jpg", alt="")
                    p 官方微信公众号
                .erweibox.marginleft20
                    img(src=imgUrl+"code.jpg", alt="")
                    p 官方微信小程序
        p.tips 
            a(href="#" target="_blank") 网站备案/许可证号：沪ICP备18024039号-1
            a(class="beian" href="#" target="_blank")
                img(src=imgUrl+"beian.png")
                | &nbsp沪公网安备