extends ./share/container.pug
block config
    - var title = '线下店铺';
    - var currentId = 'shop';
block css
    link(rel='stylesheet',href=cssUrl + 'shop.css')
block append main
    - var mimgUrl = imgUrl+'shop/';
    #shoppage
        img.responsive(src=mimgUrl+"banner1.jpg", alt="")
        .container
            .mytitle 书 法
            .mytips 见字如面，写好人生的第二面
            .myp
                p 书法是中国传统文化艺术发展五千年来最具有经典标志的民族符号。
                p 它是用毛笔书写汉字并具有审美惯性的艺术形式。技法上讲究执笔、用笔、点画、结构、墨法、章法等，与中国传统绘画、篆刻关系密切。
            .panel
                img(src=mimgUrl+"pic1.jpg", alt="")
                .text
                    h2.title 适合所有零基础/有基础学员
                    .des
                        p 特邀讲师惊喜呈现的单次主题式创意课程
                        p 科学授课时长。让你的书写多一点自由
            .panel2.md2
                .title - 授 课 机 构 -
                .des
                    p 《美上美学》
                    p 艺术·生活·人文
                    p 美.上美学是信雅达文化艺术推出的高端美育平台
                    p 签约中国八大美院、九大艺术院校的专业师资
                    p 围绕艺术、生活、人文三大主题
                    p 开设基础课程、特色课程、精修课程、
                    p 游学课程及沙龙讲座
            .panel2.md2.mr0
                .title - 授 课 教 师 -
                .des 怀着传递美学信仰的使命，集合全球生活艺术家，力邀知名学者、专家、意见领袖和业界名流,为中国精英人群量身定制终身美学养成计划。
            .ss
                p #[span 课程需提前3天预约]
                p 上课时间工作日、节假日均可，商家免费提供画具/道具
                p 课程#[span 有效期为2020-01-22至2020-12-30]
block append js
        script(src=jsUrl+"sidepage.js")