#footer
    .container
        .cover
            .link
                dl
                    dt about us
                    dd #[a(href="#") Group Introduction]
                    dd #[a(href="#") contact details]
                    dd #[a(href="#") news]
                dl
                    dt Notice to users
                    dd #[a(href="#") Legal Notices]
                    dd #[a(href="#") Terms of Service]
                    dd #[a(href="#") Privacy statement]
                dl.phone
                    dt Customer Hotline
                    dd 021-86802380
            .code
                .erweibox
                    img(src=imgUrl+"code.jpg", alt="")
                    p Official WeChat public account
                .erweibox.marginleft20
                    img(src=imgUrl+"code.jpg", alt="")
                    p Official WeChat Mini Program
        p.tips 
            a(href="#" target="_blank") Website registration / license number：沪ICP备18024039号-1
            | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            a(class="beian" href="#" target="_blank")
                img(src=imgUrl+"beian.png")
                | Shanghai Public Network Security